<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Final_project">
        <activity
            android:name=".activites.EditProdileActivity"
            android:exported="false" />
        <activity
            android:name=".activites.BookContentActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ToReedBooKActivity"
            android:exported="false" />
        <activity
            android:name=".activites.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".activites.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Layouts.MainLayout"
            android:exported="false" />
        <activity
            android:name=".activites.RigisterActivity"
            android:exported="false" />
        <activity
            android:name=".activites.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activites.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>